*.vsidx
*.suo
*.bin
*.cache
Crautnot/obj/Debug/net7.0/Crautnot.sourcelink.json
Infrastructure/obj/Debug/net7.0/Infrastructure.sourcelink.json
.dll,.exe,.pdb,props,.txt,.editorconfig
Crautnot/bin/Debug/net7.0/Crautnot.dll
Crautnot/bin/Debug/net7.0/Crautnot.exe
Crautnot/bin/Debug/net7.0/Crautnot.pdb
Crautnot/bin/Debug/net7.0/Crautnot.staticwebassets.runtime.json
Crautnot/bin/Debug/net7.0/Infrastructure.dll
Crautnot/bin/Debug/net7.0/Infrastructure.pdb
Crautnot/obj/Crautnot.csproj.nuget.dgspec.json
Crautnot/obj/Crautnot.csproj.nuget.g.props
Crautnot/obj/project.assets.json
Crautnot/obj/Debug/net7.0/apphost.exe
Crautnot/obj/Debug/net7.0/Crautnot.AssemblyInfo.cs
Crautnot/obj/Debug/net7.0/Crautnot.csproj.FileListAbsolute.txt
Crautnot/obj/Debug/net7.0/Crautnot.dll
Crautnot/obj/Debug/net7.0/Crautnot.GeneratedMSBuildEditorConfig.editorconfig
Crautnot/obj/Debug/net7.0/Crautnot.pdb
Crautnot/obj/Debug/net7.0/staticwebassets.build.json
Crautnot/obj/Debug/net7.0/staticwebassets.development.json
Crautnot/obj/Debug/net7.0/staticwebassets.pack.json
Crautnot/obj/Debug/net7.0/ref/Crautnot.dll
Crautnot/obj/Debug/net7.0/refint/Crautnot.dll
Infrastructure/bin/Debug/net7.0/Infrastructure.dll
Infrastructure/bin/Debug/net7.0/Infrastructure.pdb
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/project.assets.json
Infrastructure/obj/Debug/net7.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net7.0/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/net7.0/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net7.0/Infrastructure.pdb
Infrastructure/obj/Debug/net7.0/ref/Infrastructure.dll
Infrastructure/obj/Debug/net7.0/refint/Infrastructure.dll
.vs/Crautnot/v17/DocumentLayout.json
Crautnot/bin/Debug/net7.0/appsettings.json
Crautnot/.vs/Crautnot/DesignTimeBuild/.dtbcache.v2
.testlog,.manifest,.dll,.pdb,.props,.targets,.BuildWithSkipAnalyzers,.txt,.editorconfig,.exe
.dll,.props,.targets,.Up2Date,.BuildWithSkipAnalyzers,.editorconfig,.pdb
Infrastructure/bin/Debug/
